{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "class-property"
  ],
  "rules": {
    "indent": ["error", 4],
    "no-console": 1,
    "no-trailing-spaces": 2,
    "no-unused-vars": [0, {"ignore": ["React"]}],
    "quotes": [2, "double"],
    "semi": 1,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/anchor-is-valid": 2,
    "react/jsx-filename-extension": 0
  }
}
